mixin header()
  .svg-sprite
    include ../sprite/svg.svg
  .menu
    +b.UL.app-menu
      +e.LI.item
        a(href="#") Product
      +e.LI.item
        a(href="#") Company
      +e.LI.item
        a(href="#") Prices
      +e.LI.item
        a(href="#" class="btn") Get started
  +b.header
    +e.logo
      img(src="/assets/images/logo.svg", alt="teamlify logo")
    +e.menu
      a(href="#" class="btn") Get started
      +b.menu-icon
        +e.item
        +e.item
        +e.item
