.about
  text-align center

  &__img
    margin-bottom 20px

    +above(1024px)
      margin-top 30px

  .lead--inner
    max-width 270px

    +above(480px)
      max-width 405px

    +above(1024px)
      max-width 820px
      font-size 28px
