mixin updates()
  .updates
    h2.title.title--inner
      | Get timely updates from developers
    p.lead.lead--inner
      | Notify about upcoming deadlines, tasks that are missing updates for too long, collect weekly reports
