.updates
  position relative
  text-align center

  +above(900px)
    width 900px

  +above(1037px)
    width 900px

  &__bg-left
    position absolute
    left 0
    bottom 60px

    +above(480px)
      left -20px
      bottom 76px

    +above(1024px)
      left -60px
      bottom 70px

  &__bg-right
    display none

    +above(900px)
      display block
      position absolute
      right -100px
      bottom 30px

    +above(1024px)
      right -150px
      bottom 50px

  &--big
    +above(900px)
      width 100%

    +above(950px)
      width 950px

.slider-container
  position relative
  margin-bottom 20px
  margin-right -23px
  margin-left -23px

  +above(1024px)
    margin-right 0
    margin-left 0
    padding-right 0

  img
    width 100%
    +above(1024px)
      width auto

  span
    display block
    margin-top 5px
    font-size 8px
    text-align center

    +above(480px)
      font-size 11px

    +above(1024px)
      font-size 18px

  .slick-dots
    +above(900px)
      display none !important

.updates-slider
  max-width 900px

  +above(1024px)
    position relative
    z-index 2

  +above(1024px)
    padding-left 0
    padding-right 0

  .slick-list
    padding-right 20px
    padding-left 20px

    +above(900px)
      padding-left 0
      padding-right 0

  .slick-slide
    padding 0 6px



// second slider
.updates-container

  img
    +above(1024px)
      max-width none


// overall style
.slick-dots
  padding 0
  list-style none
  margin-top 5px
  display flex !important
  justify-content center

  +above(1024px)
      display none !important

  li
    &:not(:last-child)
      margin-right 10px

  button
    width 12px
    height 12px
    padding 0
    font-size 0
    border-radius 50%
    border 1px solid #ffffff
    background-color transparent
    outline none
    cursor pointer

.slick-active
    button
      border-color #C2F50F
      background-color #C2F50F

.slick-slide
  outline none

  img
    margin 0 auto

.slick-track
  background-color #232330

