mixin updates-big()
  .section.updates
    .updates-container
      .siema
        div
          picture
            source(media='(min-width: 1024px)', srcset='/assets/images/updates-left--1024.png 1x, /assets/images/updates-left--1024@2x.png 2x')
            source(media='(min-width: 480px)', srcset='/assets/images/updates-left--480.png 1x, /assets/images/updates-left--480@2x.png 2x')
            img(src='/assets/images/updates-left.png', srcset='/assets/images/updates-left@2x.png 2x')
        div
          picture
            source(media='(min-width: 1024px)', srcset='/assets/images/updates-center--1024.png 1x, /assets/images/updates-center--1024@2x.png 2x')
            source(media='(min-width: 480px)', srcset='/assets/images/updates-center--480.png 1x, /assets/images/updates-center--480@2x.png 2x')
            img(src='/assets/images/updates-center.png', srcset='/assets/images/updates-center@2x.png 2x')
        div
          picture
            source(media='(min-width: 1024px)', srcset='/assets/images/updates-right--1024.png 1x, /assets/images/updates-right--1024@2x.png 2x')
            source(media='(min-width: 480px)', srcset='/assets/images/updates-right--480.png 1x, /assets/images/updates-right--480@2x.png 2x')
            img(src='/assets/images/updates-right.png', srcset='/assets/images/updates-right@2x.png 2x')
      .siema-controls
        button
        button
        button
    h2.title.title--inner
      | Get timely updates from developers
    p.lead.lead--inner
      | Notify about upcoming deadlines, tasks that are missing updates for too long, collect weekly reports
